* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  margin: 0 auto;
  max-width: 1140px;
  height: 100%;
}
.page_header {
  height: 75px;
  background-color: #222222;
}
.top_nav {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.left_nav {
  list-style-type: none;
  display: flex;
  align-items: end;
}
.left_nav > li:first-child {
  margin-right: 41px;
}
/* .logo {
  margin-right: 41px;
} */
.right_nav {
  list-style-type: none;
  display: flex;
  align-items: end;
}

.menu {
  margin-right: 33px;
}
.login {
  margin-right: 33px;
}
.brand {
  background-color: #f1e4e6;
}
.brand_wrap {
  min-height: 764px;
  background: url(image/men.png) no-repeat -220px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.brand_title {
  /* margin: 0 101px 91px 0; */
  padding: 0 0 0 16px;
  border-left: 13px solid #f16d7f;
  font-weight: 900;
  font-size: 48px;
  line-height: 56px;
}
.brand_text,
.brand_text_red {
  font-weight: 700;
}
.brand_text_red {
  color: #f16d7f;
}

.bloc_man {
  position: absolute;
}

.main_text {
  position: absolute;
  padding: 365px 331px 381px 892px;
}
.main_text {
  align-items: center;
}

.main_text::before {
  content: '';
  display: block;
  width: 12px;
  height: 92px;
  background-color: #f16d7f;
  position: absolute;
  margin-top: 0px;
  margin-left: -19px;
}
.card_all {
  display: flex;
  justify-content: center;
  padding: 65px 0 30px 0;
}

.card_women {
  background: url(../src/image/for_women.png);
  width: 360px;
  height: 260px;
  position: relative;
  margin-right: 30px;
}
.card_men {
  background: url(../src/image/for_men.png);
  width: 360px;
  height: 260px;
  position: relative;
  margin-right: 30px;
}
.card_kids {
  background: url(../src/image/for_kids.png);
  width: 360px;
  height: 260px;
  position: relative;
}
.card_text {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  color: #ffffff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
.accesories {
  display: flex;
  justify-content: center;
  padding: 30px 0 96px 0;
}

.card_accesories {
  background: url(../src/image/accesories.png);
  width: 1140px;
  height: 180px;
  position: relative;
}
.fetured {
  padding-bottom: 95px;
}
.fetured_wrap {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 30px;
  margin-bottom: 50px;
  height: 100%;
}

.fetured_heading {
  text-align: center;
  font-weight: 400;
  font-size: 30px;
  line-height: 36px;
  color: #222222;
  margin: 0 0 6px 0;
}
.fetured_text {
  text-align: center;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #9f9f9f;
  margin: 0 0 48px 0;
}
.fetured_product {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: 48px;
}
.fetured_item {
  list-style-type: none;
  width: 360px;
  background-color: #fbfbfb;
  border: 1px solid transparent;
  position: relative;
}
.fetured_description {
  padding-left: 16px;
  max-width: 315px;
}
.feturet_title {
  padding-top: 25.35px;
  font-size: 13px;
  line-height: 16px;
  margin-bottom: 13px;
  text-transform: uppercase;
  color: #000;
}
.fetured_tit_text {
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  color: #5d5d5d;
  margin-bottom: 18px;
}
.fetured_tit_price {
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #f16d7f;
  margin-bottom: 20px;
}

.fetured_button {
  position: relative;
  left: 40%;
  transform: translate(-50%, 0);
  align-items: center;

  font-size: 16px;
  line-height: 19px;
  color: #f26376;
  border: 1px solid #ff6a6a;
  padding: 14.5px 38.5px;
  text-decoration: none;
}


.black {
  min-height: 341px;
  padding: 104px 0 104px 0;
  background: #222224;
}
.black_info {
  height: 100%;
   display: flex;
}
.black_item{
  list-style-type: none;
  display: flex;
  justify-content: space-around;
  text-align: center;
  margin-left: 30px;
  ;
}
.black_icon{
  margin-bottom: 28px;
}

.black_heading {
  font-size: 19.96px;
  line-height: 23.95px;
  text-align: center;
  color: #fbfbfb;
  margin-bottom: 16px;
}
.text_black {
  font-size: 13.972px;
  line-height: 17px;
  color: #fbfbfb;
  width: 360px;
  height: 34px;
}
